/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 60px;
}
.navbar {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
}
.navbar ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
}
.navbar ul li {
  margin-left: 15px;
}
.navbar ul li a {
  color: black;
}
.navbar ul li a.link:hover {
  text-decoration: underline;
}
.circle-shadow {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-shadow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-icon {
  font-size: 18px;
}
.user-icon {
  background-color: #8c6e63;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
}
.user-icon span .avatar {
  width: 35px;
}

/* Content */
.content-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.logo-img {
  width: 400px;
  margin: 20px
}
.search-bar {
  border: 1px solid lightgray;
  width: 600px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items:  center;
  padding-left: 15px;
}
.search-bar:hover {
  box-shadow: 0px 0px 4px 0px #b5b5b5;
}
.search-bar i {
  font-size: 18px;
  color: gray;
  margin-right: 15px;
  cursor: pointer;
}
.search-bar input {
  border: none;
  flex-grow: 1;
  height: 30px;
  margin-right: 15px;
  font-size: 16px;
}
.search-bar input:focus {
  outline: none;
}
.search-btn {
  margin-top: 20px;
}
.search-btn button {
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0px 15px;
  color: black;
  background-color: #f2f3f4;
}
.search-btn button:hover {
  border: 1px solid #b5b5b5;
}
.language {
  margin-top: 20px;
  font-size: 14px;
}
.language p a {
  color: blue;
}
.language p a:hover {
  text-decoration: underline;
}
/* Footer */
footer {
  background-color: #f2f2f2;
  height: 100px;
}
.footer-content {
  display: flex;
  align-items: center;
  padding: 20px;
}
.upper-footer {
  height: 50%;
  border-bottom: 1px solid lightgray;
}
.upper-footer p {
  color: gray;
  font-size: 14px;
}
.lower-footer {
  display: flex;
  height: 50%;
  justify-content: space-between;
}
.lower-footer .lower-left-footer,
.lower-footer .lower-right-footer {
  display: flex;
}
.lower-footer .lower-left-footer li a {
  margin-right: 15px;
  color: gray;
  font-size: 14px;
}
.lower-footer .lower-right-footer li a {
  margin-left: 15px;
  color: gray;
  font-size: 14px;
}
.lower-footer a:hover {
  text-decoration: underline;
}

/* Mobile & Tablet */
@media only screen and (max-width: 650px) {
  /* search bar */
  .search-bar {
    width: 85%;
  }
  /* Footer */
  footer {
    height: 150px;
  }
  .upper-footer {
    height: 50px;
  }
  .lower-footer {
    height: 100px;
    flex-direction: column;
  }
  .lower-footer .lower-left-footer li a {
    margin: 0 7.5px;
  }
  .lower-footer .lower-right-footer li a {
    margin: 0 7.5px;
  }
}